body {
    background-color: indigo;
    background-image: url(../image/goku.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    color: white;
}


fieldset {
    border: solid gold 2px;
}

button {
    background-color: blueviolet;
    border: 2px blueviolet;
    border-radius: 5px;
    color: white;
}