/* Estilizando o Body */
body {
    background-color: indigo;
    background-image: url(../image/goku.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 30%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilizando o H1 */
h1 {
    color: goldenrod;
    background-color: darkmagenta;
    border: goldenrod dotted 2px;
    text-align: center;
    font-family: cursive;
    border-radius: 10px;
}

/* Estilizando os broquis */
fieldset {
    border: solid gold 3px;
}

/* Estilizando os buttons */
button {
    padding: 0;
    border: 0;
    background-color: blueviolet;
    border-radius: 3px;
    color: white;
    width: 60px;
    height: 30px;


}

/* Estilizando a quinta parte */
#e05 textarea {
    resize: none;
}

/* Estilizando a primeira parte */
#e01 input {
    width: 900px;
    height: 18px;
}

/* Estilizando os selects */
select {
    width: 300px;
    height: 18px;
}